<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <!--版本号-->
    <add name="version" connectionString="1.0.1" />
    <!--下载地址-->
    <add name="url1" connectionString="https://ebao520.github.io/Eplug/" />
    <!--下载目录，最好为一级目录免得麻烦-->
    <add name="directory" connectionString="UpdateFile/Update.zip" />
    <add name="directorys" connectionString="UpdateFile/" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: 53716E1E-E0E0-4523-814F-1560B925B7A3-->